nav .brand-logo {
  padding-left: 1rem;
  position: relative;
}

 .button {
  padding-right: 10px;
}

nav .material-icons {
  margin: 0 0.5rem 0 0;
}

nav .hide-on-med-and-down a:hover {
  color: goldenrod;
}

nav a {
  font-weight: 700;
}

nav #nav-menu {
  margin-left: 1rem;
}

nav #nav-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

@media only screen and (max-width: 400px) {
  nav .brand-logo {
    margin-left: -2rem;
  }
}