@import url('https://fonts.googleapis.com/css?family=Alegreya|Raleway|Gentium+Book+Basic');

body {
  font-family: "Raleway", sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gentium Book Basic", sans-serif;
}

#planter-box {
  background-image: url("/images/flower3.jpeg");
}

#planter-box .plant-box {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
}

#plant-results {
  display: flex;
  flex-wrap: wrap;
}

#profile .profile-img {
  max-width: 100%;
  height: auto;
}

#profile .profile-card {
  text-transform: capitalize;
}

#profile .profile-card .collection {
  margin: 0;
}